.Login{
    background: var(--background);
    margin: 20px auto 0;
    width: 450px;
}

.Login .title{
    font: 16px/1.5 Anton, Moul;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.Login form{
    padding: 20px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-gap: 5px;
    align-items: center;
}

.Login form a{
    text-align: right;
    color: white;
}

.Login form input{
    font: var(--body-font);
    padding: 0 10px;
}

.Login form .message{
    text-align: center;
}